{% extends 'base.html.twig' %}

{% block title %}Hello ClubController!{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<center><h1>
Clubs Esprit 
</h1><center>
<p> au sein d'esprit , les associations et clubs remplissent plusieurs 
roles étant donnée la diversité qui aiment ceux qui ne sont a l'origine
.
</p>
<img src={{asset('media/téléchargement.jpg')}} width="500">
</div>
{% endblock %}
